
    <article class="main">
      <section class="playground">
        <div class="playground__field">
          <div class="road">
            <div class="road__track road__track_up">
              <div class="car">
                <img class="js-redcar" src=""/>
              </div>
            </div>
            <div class="road__track road__track_down">
              <div class="car">
                <img class="js-bluecar" src=""/>
              </div>
            </div>
            <div class="goal">GOAL</div>
          </div>

        </div>
        <div class="race-result js-raceResult">
          
        </div>
        <div class="game-restart">
          <button type="button" class="button-restart">Restart!</button>
        </div>
      </section>
    </article>
